* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    background-color: black;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.2em;
    font-family: Courier;
    font-size: 1em;
    font-weight: bold;
    height: 1.4rem;
    width: 100%;
    white-space: normal;
}


#game-over {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    display: none;

}

#winner {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    display: none;
}


#start {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    position: absolute;
    background-color: red;
    border: none;
    color: white;
    border-radius: 1rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}